.desplegable-cierra {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: auto;
  width: 300px;
  height: 0px;
  background-color: black;
  transition: height 0.4s;
}

.desplegable-abre {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: auto;
  width: 300px;
  height: 250px;
  background-color: black;
  transition: height 0.4s;
}
